:root {
    --main-font-color: #22232a;
    --main-font-color-light: #b1adad;
    --main-font-link: #46413b;
    --main-background-color: #F1EFDC;
    --form-color: rgb(241, 238, 205, 0.3);
    --form-color-hover: rgb(216, 215, 197);
    --form-input: #979090;
    --alt-font-color: #400E32;
    --alt-background-color: #252525;
    --alt-white-color: #fff;
    --icons-color: #9C0F48;
    --icons-color-hover: rgb(131, 27, 69);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

a {
    color: var(--main-background-color);
}


/* HEADER SECTION */
.header--container {
    /* border: 1px solid lightblue; */
    background-color: var(--main-background-color);
    height: 5em;
    color: var(--alt-font-color);
    position: sticky;
    top: -2rem;
}

.logo--container {
    font-size: 0.5rem;
    text-align: center;
    padding: 1em 0;
}

.nav-lang--container {
    /* border: 1px solid darkgreen; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 2rem;
    margin: 0 auto;
}

.nav--list {
    display: flex;
    gap: 4em;
}

.nav--link {
    color: var(--alt-font-color);
}

/*  MAIN SECTION */
.main--container {
    color: var(--alt-font-color);
}

.main--section {
    background-color: var(--main-background-color);
    height: 45rem;
    width: 100%;
    /* margin-bottom: 4.5em; */
}

.main--section--container {
    /* border: 1px solid blue; */
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: center;
}

.intro-text {
    font-size: 4.3rem;
    font-weight: 600 ;
    letter-spacing: -0.2rem;
}

.intro-text-3 {
    display: block;
    margin-bottom: 2%;
}

.social--list {
    /* border: 1px red solid; */
    display: flex;
    gap: 1.5em;
    align-items: center;
    height: 3rem;
    margin-bottom: 2%;
}

.social--item {
    height: 2.5rem;
}

.social--img {
    height: 100%;
}

.intro-p {
    /* border:1px solid brown; */
    font-size: 1.1rem;
    line-height: 1.8rem;
    letter-spacing: 0.05rem;
    max-width: 30rem;
    
}

/* ALL SECTION */

.all-section {
    height: 45rem;
    max-width: 1100px;
    margin: auto;
    padding: 5rem 2rem;
}

/* ===  ABOUT SECTION ==== */

.section--title {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1em;
}

.bio--container {
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1.7fr 0.6fr;
    gap: 1rem 1em;
    height: 30rem;
}

.bio--img--container {
    /* border: 1px solid darkred; */
    grid-area: 1 /  1 / 4 / 2;
    display: grid;
    place-content: center;
    height: 100%;
    width: 100%;
}

.bio--img {
    width: 100%;
    height: 23em;
    border-radius: 20px;
    object-fit: cover;
}

.skills--container {
    grid-area: 1/ 2 / 2 / 3;
    height: 100%;
    margin: 1.3rem 0.5em 0 0;
    
}

.skills--list {
    /* border: 1px solid pink; */
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 0.7em;
}

.skills--item {
    color: var(--alt-white-color);
    background-color: var(--alt-background-color);
    padding: 0.6em 0.6em;
}

.about-text--container {
    /* border: 1px solid blueviolet; */
    height: 100%;
}

.hl-text {
    margin-bottom: 0.8em;
}

.about--p {
    letter-spacing: 0.1em;
    line-height: 1.3em;
}

.cv--container {
    /* border: 1px solid green; */
    padding: 0.5em 0;
    height: 100%;
}

.cv--btn {
    /* border: 2px solid violet; */
    height: 100%;
}

.btn {
    display: inline-block;
    color: var(--alt-white-color);
    background-color: var(--icons-color);
    padding: 1em 0;
    font-weight: bold;
    text-align: center;
}

.cv--link {
    width: 11em;
}

/* ==== PROJECTS ==== */
.individual--project--container {
    display: grid;
    grid-template-areas:    "top top"
                            "title image"
                            "skills image"
                            "button image"
                            "text image";
    grid-template-columns: 2.5fr 1.5fr;
}

.tech--description {
    grid-area: top;
    font-weight: 300;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    margin-bottom: 0.5em;   
}

.project--title {
    grid-area: title;
    font-size: 4em;
    font-weight: 400;
    margin-bottom: 0.2em;
}

.project--list {
    grid-area: skills;
    margin-bottom: 2em;
}

.project--skills--item {
    font-size: 0.9em;
}

.project--link--container {
    grid-area: button;
}

.link-a {
    border: 2px solid var(--alt-font-color);
    width: 9em;
    text-align: center;
    margin-bottom: 1.5em;
}

.project--info {
    grid-area: text;
    max-width: 80%;
    margin-bottom: 4rem;
}

.img--project--container {
    grid-area: image;
    width: 100%;
    height: 100%;
}

.project--img {
    /* border: 1px solid black; */
    display: block;
    max-height: 75%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0.25em 1.5em 0 rgba(0, 0, 0, 0.2), 0 1.5em 1.9em 0 rgba(0, 0, 0, 0.19);
}

/* ====== CONTACT SECTION ======*/

.contact--form {
    display: grid;
    row-gap: 1rem;
    width: 60%;
    max-width: 600px;
    margin: 0 auto;
}

.input--wrap {
    position: relative;
}

.contact--input {
    width: 100%;
    background-color: var(--form-color);
    padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: 600;
    color: var(--main-font-color);
    font-size: 0.95rem;
    border: 3px solid transparent;
    box-shadow: 0 0 0 0px var(--form-color);
    transition: all 0.3s;
}

.contact--input:hover {
    background-color: var(--form-color-hover);
}

.input--wrap label {
    position: absolute;
    top: 50%;
    left: calc(1.35rem + 2px);
    transform: translateY(-50%);
    color: var(--main-font-color-light);
    pointer-events: none;
    transition: 0.25s;

}

.input--wrap .icon {
    position: absolute;
    top: 50%;
    right: calc(1.35rem + 2px);
    transform: translateY(-50%);
    color: var(--main-font-color-light);
    transition: 0.3s;
}

.message--form {
    resize: none;
    width: 100%;
    min-height: 150px;
}

.message--form ~ label,.message--form ~ .icon {
    top: 1.2rem;
    transform: none;
}

.input--wrap.focus  .contact--input {
    background-color: var(--alt-white-color);
    border: 3px solid var(--main-background-color);
    box-shadow: 0 0 0.2em 2px var(--form-color-hover);
}

.input--wrap.focus label, .input--wrap.focus .icon {
    color: var(--form-input);
}

.input--wrap.not-empty label {
    font-size: 0.66rem;
    top: 0.75rem;
    transform: translateY(0);
}

.contact--button {
    display: flex;
    justify-content: end;
    width: 100%;
}

.send--button {
    padding: 1.1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.send--button:hover {
    background-color: var(--icons-color-hover);
}


/* ======= FOOTER ====== */
.footer--container {
    color: var(--main-background-color);
    background-color: var(--alt-background-color);
}

.footer--section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    margin: auto;
    max-width: 1100px;
}

.footer--box {
    width: 14em;
    max-width: 14em;
    padding: 2em 0;
}

.footer--logo{
    margin-bottom: 0.7rem;
}

.copyright {
    font-size: 0.9em;
    font-weight: 200;
    line-height: 1.5em;
}

.footer--box--title {
    margin-bottom: 1rem;
}

.footer--list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-weight: bold;
}

.footer--social--container {
    height: 100%;
}

.footer--social--list {
    display: flex;
    gap: 1.1em;
    align-items: center;
}
.footer--social--item {
    width: 2em;
}

.footer--social--img {
    max-width: 100%;
}




/* ===== MEDIAQUERYS ====== */
@media (max-width: 1040px) {
    .all-section{
       height: 100%;
    }

    .individual--project--container {
        display: flex;
        flex-flow: column;
        justify-content: space-between;  
        height: 100%; 
    }

    .project--info {
        max-width: 90%;
    }

    .project--img {
        margin: auto;
        overflow: clip;
        max-width: 100%;
        object-fit: cover;
    }

    .footer--section {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .bio--container {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        height: 100%; 
    }
    .project--info {
        max-width: 100%;
    }

    .contact--form {
        width: 100%;
    }

}